.item-1 img {
    height: 80%;
    width: 80%;
}

.item-1 img:hover {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
}

img {
    height: 100%;
    width: 100%;
}

.item {
    margin: 1rem;
    box-shadow: 0 5px 5px white;
}

.item img:hover {
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
}

.item h3 {
    background-color: #990209;
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
    margin: 0;
}

.item h3 a {
    color: white;
}

.item-1 h3 {
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
    margin: 0;
}

.item-1 h3 a {
    color: white;
}

h2 {
    text-align: center;
}

#try {
    -webkit-clip-path: circle(50% at 50% 50%); 
    clip-path: circle(50% at 50% 50%);
    margin: 1rem;
}

.item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
